.card-popup {
    z-index: 15;
    height: 100%;
    display: flex;
    gap: 40px;

    .popup-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 800px;
        border: 1px solid #fff;
        background-color: #000;
        padding: 50px;

        @include tablet {
            height: auto;
            max-width: 93.75vw;
            width: 70vh;
            border-radius: 24px;
        }

        @include mobile {
            width: 92vw;
            border-radius: 8px;
        }
    }

    .card-popup-close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 6;
        --size: 46px;
        width: var(--size);
        height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        transition:
            background-color 0.3s ease,
            stroke 0.3s ease;

        @media screen and (max-width: 1600px) {
            --size: 36px;
        }

        @include hover {
            background-color: #fff;
            path {
                stroke: #000;
            }
        }
    }
}

.card-popup-img {
    aspect-ratio: 9 / 16;
    height: 100%;
}

.card-popup-right {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-popup-title {
    font-size: 18px;
}

.card-popup-text {
    margin-top: 4px;
}

.card-popup-content {
    margin-top: 20px;
}
