.card-popup {
    z-index: 15;
    height: 100%;
    display: flex;
    gap: 40px;

    @include mobile {
        flex-direction: column;
        overflow: auto;
        gap: 0;
    }

    .popup-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 1200px;
        border: 1px solid #fff;
        background-color: $dark;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        @include laptop {
            width: 1000px;
        }

        @include tablet {
            width: 93.75vw;
        }

        @include mobile {
            width: 92vw;
        }
    }

    .card-popup-close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 6;
        --size: 46px;
        width: var(--size);
        height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        transition:
            background-color 0.3s ease,
            stroke 0.3s ease;

        @media screen and (max-width: 1600px) {
            --size: 34px;
        }

        @include hover {
            background-color: #fff;
            path {
                stroke: #000;
            }
        }
    }
}

.card-popup-img {
    aspect-ratio: 9 / 16;
    height: 100%;

    @include mobile {
        height: 70vh;
        display: none;
    }
}

.card-popup-right {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 50px;
    @include scrollbar();

    @include mobile {
        height: 100%;
        overflow: unset;
    }
}

.card-popup-left {
    @include mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.card-popup-title {
    font-size: 18px;
}

.card-popup-text {
    margin-top: 4px;

    @include mobile {
        margin-top: 10px;
    }
}

.card-popup-content {
    margin-top: 20px;
}
